body{
  text-align: center;
}
.box{
  background-image: url('bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding-bottom: 150px;
  border: 2px solid black;
  border-radius: 25px;
 
}
.box h1{
  font-size: 60px;
  color: green;
}

.box input{
  font-size: 20px;
  color: black;
  height: 55px;
  width: 300px;
  text-align: center;
  opacity: 0.6;
  margin: 22px;
  padding: 1px;
}

#button{
 margin: 15px;
 padding: 5px;
 color: white;
 background-color: green;
  display: inline;
  border: 2px solid green;
  border-radius: 10px;
}